.product__card__container {
   float: left;
  width: calc(100% / 4 - 4%);
  box-shadow: 6px 6px 6px -6px #444444;
  border-radius: 5px;
  margin: 20px 1%;
}
.product__list{
  padding: 8rem 0;
}
.product__card__grid {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.product__card__image {
  overflow: hidden;
  position: relative;
}
.product__card__item .product__card__trend__label,
 .product__card__discount__label {
   content: '';
   color: #fff;
   background-color: rgba(81, 108, 240, 0.5);
   font-size: 12px;
   line-height: 28px;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
   padding: 0 7px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
 }
 .product__card__discount__label {
  background-color: rgba(224, 54, 156, 0.8);
  left: auto;
  right: 0;
}


.product__card__content {
  padding: 5%;
    span {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 5px;
    text-align: left;
    color: #444444;
    &:hover {
      text-decoration: none;
      color: #444444;
      font-weight: bold;
    }
    a {
      color: #444444;
      text-decoration: none;
      font-size: 1.2rem;
      
    }
  }
  .product__card-price {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    span {
      color: #333;
      text-decoration: line-through;
      margin-right: 3px;
    }
    &.discount {
      color: rgba(224, 54, 156, 0.8);
      text-align: left;
    }
  }
}

.social{
  align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    padding: 150px 20px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 1;
    border-radius: 5px;
    li{
      font-size: 34px;
      color: #ffffff;
      display: inline-flex;
      padding: 5%;
    }
    a{
      font-size: 34px;
      color: #ffffff;
      display: inline-flex;
    }
}
.product__card__item:hover .social {
  opacity: 1;
  visibility: visible;
}


 @media only screen and (max-width: 700px) {
   .product__card__container {
     width: 50%;
     margin: 6px 0;
   }
 }
 @media only screen and (max-width: 500px) {
   .product__card__container {
     width: 100%;
     padding: 10%;
   }
   .product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .product__card__container{
      width: calc(100% / 2 - 4%);
      padding: 2%;
      .product__card__content span{
        font-size: 14px;
      }
    }
  }
 }
