@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.product {
  margin-top: 100px;
  font-family: 'Open Sans', sans-serif;

  img {
    max-width: 100%;
    height: auto;
  }

  .product__body {
    display: flex;
    justify-content: center;
  }
}

.product__title {
  color: black;
  font-weight: bold;
  font-size: 1.5em;

  .product__new {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    color: #212529;
    background-color: #ffc107;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  h2 {
    margin: 0;
    padding: 0;
  }
}

.product__details {
  display: flex;
  flex-flow: column;
}

.product__image,
.product__details {
  flex-basis: 40%;
}

.product__image {
  padding-right: 3%;

  .icon__images {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    img {
      height: 80px;
      margin-right: 10px;
      cursor: pointer;
      border: 1px solid #e5e5e5;
    }
    a {
      margin: 0;
      padding: 0;
    }
  }
}

.product__price {
  margin-top: 40px;

  .product__price__price {
    color: black;
    font-weight: bold;
    font-size: 2em;
    padding-right: 10px;
  }

  .product__price__discount {
    display: block;
    font-weight: bold;
    color: crimson;
    text-decoration: line-through;
    margin: 10px 0;
  }
}

.product__desc {
  p {
    margin: 20px 0px;
  }
}

.product__size {
  margin: 20px 0;

  span {
    display: inline-block;
    width: 35px;
    border: 1px solid #999;
    text-align: center;
    padding: 1px 2px;
    margin-right: 5px;
    text-transform: uppercase;
    cursor: pointer;
    &.active {
      color: #fff;
      background: #424242;
    }
  }
}

.product__quantity {
  input {
    outline: 0;
    padding: 0;
    text-align: center;
    border-radius: 0;
  }
}

.btn__cart {
  margin-top: 10px;
  border: 3px solid #000;
  padding: 6px 12px;
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;

  &:hover,
  &:focus {
    background: black;
    color: #fff;
    transition: all 0.4s;
  }
}

@media screen and (max-width: 500px) {
  .product__image,
  .product__details {
    float: none;
    width: 100%;
    padding: 10px 5px;
    margin: 5px 10px;
  }
}
