@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.product {
  margin-top: 100px;
  font-family: 'Open Sans', sans-serif;

  img {
    max-width: 100%;
    height: auto;
  }

  .product__body {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 500px) {
      flex-direction: column;
      padding: 0 10px;
    }
  }
}

.product__title {
  color: black;
  font-weight: bold;
  font-size: 1.5em;

  .product__new {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    color: #212529;
    background-color: #ffc107;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  h2 {
    margin: 0;
    padding: 0;
  }
}

.product__details {
  display: flex;
  flex-flow: column;
  padding: 5%;
}

.product__image,
.product__details {
  flex-basis: 40%;
}

.product__image {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 1px 1px 10px #ccc;
  @media screen and (min-width: 1024px) {
    margin-right: 3%;
  }
  @media screen and (max-width: 500px) {
    display: flex;
    justify-content: center;
    img {
      width: 90%;
      margin: 0 auto;
    }
  }
}

.product__price {
  margin-top: 40px;

  .product__price__price {
    color: black;
    font-weight: bold;
    font-size: 2em;
    padding-right: 10px;
  }

  .product__price__discount {
    display: block;
    font-weight: bold;
    color: crimson;
    text-decoration: line-through;
    margin: 10px 0;
  }
}

.product__desc {
  p {
    margin: 20px 0px;
  }
}

.product__size {
  margin: 20px 0;

  span {
    display: inline-block;
    width: 35px;
    border: 1px solid #999;
    text-align: center;
    padding: 1px 2px;
    margin-right: 5px;
    text-transform: uppercase;
    cursor: pointer;
    &.is-active {
      color: #fff;
      background: #424242;
    }
  }
}

.product__quantity {
  input {
    outline: 0;
    padding: 0;
    text-align: center;
    border-radius: 0;
  }
}

.btn__cart {
  margin-top: 20px;
  border: 2px solid #000;
  padding: 8px 12px;
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  @media screen and (max-width: 500px) {
    width: 100%;
  }

  &:hover,
  &:focus {
    background: black;
    color: #fff;
    transition: all 0.4s;
  }
}

@media screen and (max-width: 500px) {
  .product__image,
  .product__details {
    width: 100%;
    padding: 0 10%;
  }
  .product__details {
    // border: solid 1px black;
  }
}

@media screen and (max-width: 991px) {
  .product{
    height: 65vh;
    align-items: center;
    display: flex;
    .product__body{
      margin-left: 5%;
    }
  }
  .product__details {
    padding: 5%;
  }
}