<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Home </title>
      <!--Ion Icons-->
      <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
      <!--Google Fonts-->
      <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Aldrich&display=swap" rel="stylesheet">
      <!--Our own stylesheet-->
      <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <div class="container">
      <nav>
        <div class="menu">
          <a href="index.html">
            <img src="" alt="logo">
          </a>
        </div>

        <div class="menu__icons open">
          <i class="icon ion-md-menu"></i>
        </div>

        <ul class="nav-list">
          <div class="menu__icons close">
            <i class="icon ion-md-close"></i>
          </div>

          <li class="menu__item">
            <a href="#" class="menu__link current">Home</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Feminino</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Calçados</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Moda Praia</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Ofertas</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

<main>
  <section class="hero">
    <div class="container">
      <div class="hero__text">
        <h3>BEST OFFERS</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel tempora fugit atque, totam consequuntur nam libero reprehenderit officiis error natus a ab repellendus obcaecati quam dolor laborum fuga dolores quidem!
        </p>
        <div class="hero__text__cta">
          <a href="#" class="hero__btn">Buy now</a>
        </div>
      </div>
    </div>
  </section>

  <section class="outdoors__offers">
    <div class="container">
      <div class="outdoors__title">
        <h3>MODA RESPONSÁVEL</h3>
        <p>Linha com matérias-primas e processos
          de menor impacto ambiental
        </p>
      </div>

      <div class="outdoors__offers__grid">
          <!-- grid item nº1 -->
          <div class="outdoors__offers__item">
            <i class="icon ion-md-star"></i>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum esse odit fugit alias natus debitis perferendis dolorem, praesentium reprehenderit nulla aliquid totam nihil cumque corporis quidem minima! Illo, facilis voluptatem?</p>  
          </div>

        <!-- grid item nº2 -->
        <div class="outdoors__offers__item">
          <i class="icon ion-md-compass"></i>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum esse odit fugit alias natus debitis perferendis dolorem, praesentium reprehenderit nulla aliquid totam nihil cumque corporis quidem minima! Illo, facilis voluptatem?</p>          
        </div>

        <!-- grid item nº3 -->
        <div class="outdoors__offers__item">
          <i class="icon ion-md-bonfire"></i>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum esse odit fugit alias natus debitis perferendis dolorem, praesentium reprehenderit nulla aliquid totam nihil cumque corporis quidem minima! Illo, facilis voluptatem?</p>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials">
    <div class="container">
      <div class="testimonial">
        <div class="testimonial__text">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>Accusamus architecto suscipit explicabo, quo vero!
          </p>
          <i class="icon ion-md-quote"></i>
        </div>

        <div class="testimonial-customer">
          <img src="images/testimonials.jpg" alt="customer">
          <h1>Jane Doe</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="contact__infos">
    <div class="container">
      <div class="contact__infos__title">
         <h1>Contact us</h1>
         <p>(11)1111-1111</p>
         <p>(11)1111-1111</p>
         <p>Av. Lorem Ipsum, 2765</p>

         <h1>Social Media</h1>
      </div>
    </div>
  </section>
</main>

<footer>
  <p>&copy; 2020. All rights reserved</p>
</footer>

  <script src="scripts.js"></script>
</body>
</html>