footer{
  background: linear-gradient(135deg, rgba(224, 54, 156, 0.50) 0%, rgba(81, 108, 240, 0.50) 100%);
  margin-top: 5%;
}

.footer__texto{
  text-align: center;
  font-size: 12px;
  padding: 10px;
  color: #3e3c3c;
}
