

.product {

  font-family: arial;

  img {
    max-width: 100%;
    height: auto;
  }

  .product__body {
    display: flex;
    justify-content: center;
  }

}

.product__title {

  color: black;
  font-weight: bold;
  font-size: 1.5em;
  font-family: arial;
  padding: 20px 10%;
  text-align: Left;

  h2 {
    text-align: center;
  }

}

.product__details {
  display: flex;
  flex-flow: column;
}

.product__image, .product__details {
  float: left;
  width: 40%;
}

.product__image {

  padding-right: 3%;

  .icon-images {
    img {
      height: 80px;
      margin: 0 10px;
      cursor: pointer;
      border: 1px solid #e5e5e5;
    }
  }

}

.product__price {

  margin-top: 20%;

  .product__price_price {
    color: black;
    font-weight: bold;
    font-size: 2em;
    padding-right: 10px;
  }

  .product__price_offer {
    color: black;
    border-radius: 3px;
    padding: 1px 3px;
    font-size: .7em;
  }

}

.product__desc {
  p {
    margin: 20px 0px;
  }
}

.product__size {
  margin: 20px 0;
  span {
    display: inline-block;
    width: 35px;
    border: 1px solid #999;
    text-align: center;
    padding: 1px 2px;
    margin: 0 5px;
    text-transform: uppercase;
    cursor: pointer;
    &.active {
      color: #fff;
      background: #008080;
    }
  }
}

.product__quantity {
  input {
    outline: 0;
    padding: 1px 3px;
    text-align: center;
  }
}

.btn__cart {

  margin-top: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 4px 10px;
  text-align: center;
  font-size: 1.5em;

  &:hover, &:focus {
    background: black;
    color: #fff;
    transition: all .4s;
  }

}

@media screen and (max-width: 500px) {
  .product__image, .product__details {
    float: none;
    width: 100%;
    padding: 10px 5px;
    margin: 5px 10px;
  }
}
