.search__overlay {
  transition: all 0.2s ease-in-out;
  background: rgba(49, 49, 49, 0);
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 1000;
  visibility: hidden;

  &.is-open {
    background: rgba(49, 49, 49, 0.4);
    visibility: visible;

    .search__sidebar {
      transform: translate(0, 0);
    }
  }
}

.search__sidebar {
  transform: translate(100%, 0);
  background-color: white;
  box-shadow: -0.2rem 0 0.2rem #ffffff;
  color: #444444;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  justify-content: flex-start;
  margin: 0;
  transition: all 0.2s ease-in-out;
  width: 35rem;
}

.search__header {
  align-items: flex-end;
  border-bottom: 0.1rem solid #ccc;
  display: flex;
  font-weight: bold;
  height: 6rem;
  justify-content: space-between;
  position: relative;
  text-transform: uppercase;

  span {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 100%;

    input {
      height: 20px;
      margin-top: 3px;
      margin-bottom: 8px;
      width: 80%;
      font-size: 12px;
      font-weight: 200;
    }
  }

  .search__close {
    background-color: transparent;
    border: none;
    color: #797979;
    font-size: 26px;
    margin-right: 5%;
  }
}

.search__content {
  background-color: #ffffff;
  overflow-y: scroll;
  padding: 0 1rem;
  text-align: center;

  .search__items {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    padding: 10px;
    text-decoration: none;
  }
}

.search__description {
  display: flex;
  height: 90px;
  padding: 2% 0;
  box-shadow: 6px 6px 6px -6px #444444;
  margin-bottom: 2px;
  .product__name {
    //width: 90px;
    text-align: left;
    font-size: 1.2rem;
    text-decoration: none;
    color: #444444;
    width: 100px;
  }
  .product__price-search {
    font-size: 1.4rem;
    text-decoration: none;
    color: #444444;
    font-weight: bold;
  }
  .product__installments {
    font-size: 11px;
    text-decoration: none;
    color: #444444;
  }
}
.product__img {
  padding: 10px;
}
.indisponivel {
  width: 70px;
  height: 60px;
}
.product__info {
  display: inline-flex;
  padding: 5% 2%;
  justify-content: space-between;
  width: 200px;
}
.product__info__price {
  text-align: right;
  white-space: nowrap;
  text-decoration: none;
}

@media only screen and (max-width: 650px) {
  //  .search__overlay{
  //   margin-left: -73%;
  //   margin-top: 95%;
  //  }
  .search__sidebar {
    width: 100%;
  }
  .search__header {
    height: 15rem;
    padding: 3rem;
  }
  .search__header span {
    font-size: 22px;
  }
  .search__header span input {
    height: 35px;
    margin-bottom: 4px;
    width: 70%;
    background-color: #f7f7f7;
  }
  .product__info {
    display: inline-flex;
    padding: 2%;
    width: 230px;
  }
  .search__description {
    padding: 0 5%;
    margin-bottom: 15px;
    .product__name,
    .product__price {
      font-size: 1.8rem;
    }
  }
}
